{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Hero Image (Background image set in base.css) -->
<div id="hero-image-container" class="container-fluid row align-items-center text-center text-white">
  <div id="hero-text" class="col-8 mx-auto">
    <h1 class="display-4 mb-4">Welcome to The Salon's Online Shop!</h1>
    <h3>Bring that salon hair feeling back home!</h3>
    <hr class="my-4">
      <a class="btn btn-brand btn-lg text-dark" href="{% url 'products' %}" role="button" aria-label="Go to all products page">Shop All Products</a>
  </div>
</div>

<!-- Featured Products -->
<div class="container">
  <h2 class="col-10 offset-1 text-center my-4">Featured Products from Olaplex!</h2>
  <hr class="text-muted">
  <div id="feat-products-container" class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    {% for product in feat_products %}
      <div id="product-card" class="col my-3 text-center">
        <div class="card h-100">
          {% if product.image %}
          <a href="{% url 'product_detail' product.id %}" class="card-img-link" aria-label="Go to product detail page">
            <img src="{{ product.image.url }}" class="card-img-top" alt="image for product thumbnail">
          </a>
          {% else %}
          <a href="{% url 'product_detail' product.id %}" class="card-img-link" aria-label="Go to product detail page">
            <img src="{{ MEDIA_URL }}/placeholder.webp" class="card-img-top" alt="image for product thumbnail">
          </a>
          {% endif %}
          <div class="card-body">
            <div class="card-title">
              <h5 class="card-text fw-bold">{{ product.brand }}</h5>
            </div>
            <div>
              <a href="{% url 'product_detail' product.id %}" class="card-link text-dark">
                <p aria-label="Go to product detail page">{{ product.name }}</p>
              </a>
              <p>&euro;{{ product.price }}</p>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}