{% extends "base.html" %}
{% load static %}

{% block extra_title %}
  | Home
{% endblock %}

{% block content %}

<!-- Hero Image (Background image set in base.css) -->
<div id="hero-image-container" class="container-fluid row align-items-center text-center text-white">
  <div id="hero-text" class="col-8 mx-auto">
    <h1 class="display-4 mb-4">Welcome to The Salon's Online Shop!</h1>
    <h3>Bring that salon hair feeling back home!</h3>
    <hr class="my-4">
      <a class="btn btn-brand btn-lg text-dark" href="{% url 'products' %}" role="button" aria-label="Go to all products page">Shop All Products</a>
  </div>
</div>

<!-- Featured Products -->
<div class="container py-5">
  <h2>Featured Products from Olaplex!</h2>
  <div id="feat-products-container" class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    {% for product in feat_products %}
    <div class="col product-card my-3 text-center">
      <div class="card h-100">
        <a href="{% url 'product_detail' product.id %}" class="card-img-link" aria-label="Go to product detail page">
          {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="image for {{ product.name }}">
          {% else %}
            <img src="{{ MEDIA_URL }}placeholder.webp" class="card-img-top" alt="image for {{ product.name }}">
          {% endif %}
          {% if product.available %}
            {% if product.sale_price %}
              <span class="badge rounded-pill bg-brand bg-gradient position-absolute text-dark start-0 top-0 m-2 p-2">Sale!</span>
            {% endif %}
          {% else %}
            <span class="badge rounded-pill bg-info bg-gradient position-absolute text-dark start-0 top-0 m-2 p-2">Out of Stock</span>
          {% endif %}
          {% if product.cruelty_free %}
          <span class="badge rounded-pill bg-secondary bg-gradient position-absolute end-0 top-0 m-2 p-2"><i class="fa-solid fa-paw"></i></span>
          {% endif %}
        </a>
        <div class="card-body">
          <div class="card-title">
            <h5 class="card-text fw-bold">{{ product.brand }}</h5>
          </div>
          <div>
            <a href="{% url 'product_detail' product.id %}" class="card-link text-dark" aria-label="Go to product detail page">
              <p class="pb-4">{{ product.name }}</p>
            </a>
            {% if product.available %}
              {% if product.sale_price %}
              <p class="position-absolute bottom-0 start-50 translate-middle-x">
                <span class="text-decoration-line-through text-muted me-2">&euro;{{ product.price }}</span>
                <span>&euro;{{ product.sale_price }}</span>
              </p>
              {% else %}
                <p class="position-absolute bottom-0 start-50 translate-middle-x">&euro;{{ product.price }}</p>
              {% endif %}
            {% else %}
              <p class="position-absolute bottom-0 start-50 translate-middle-x">Out of Stock</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <a href="{% url 'products' %}?q=Olaplex" class="btn btn-lg btn-brand mt-3">Shop all Olaplex</a>
  </div>
</div>

<!-- Mission Statement -->
<div class="row bg-brand bg-gradient py-4 my-5 text-center">
  <div class="col-12">
    <div class="container">
      <h2 class="fst-italic">"Our goal at The Salon is to help you bring home that great salon feeling hair back home by offering products from our favourite brands that we use ourselves!"<br>
      <span class="lead">- Marcy, Founder</span></h2>
    </div>
  </div>
</div>

<!-- Cruelty Free Products -->
<div class="container py-5">
  <h2 class="col">Cruelty Free Products!</h2>
  <div id="cf-products-container" class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    {% for product in cf_products %}
    <div class="col product-card my-3 text-center">
      <div class="card h-100">
        <a href="{% url 'product_detail' product.id %}" class="card-img-link" aria-label="Go to product detail page">
          {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="image for {{ product.name }}">
          {% else %}
            <img src="{{ MEDIA_URL }}placeholder.webp" class="card-img-top" alt="image for {{ product.name }}">
          {% endif %}
          {% if product.available %}
            {% if product.sale_price %}
              <span class="badge rounded-pill bg-brand bg-gradient position-absolute text-dark start-0 top-0 m-2 p-2">Sale!</span>
            {% endif %}
          {% else %}
            <span class="badge rounded-pill bg-info bg-gradient position-absolute text-dark start-0 top-0 m-2 p-2">Out of Stock</span>
          {% endif %}
          {% if product.cruelty_free %}
          <span class="badge rounded-pill bg-secondary bg-gradient position-absolute end-0 top-0 m-2 p-2"><i class="fa-solid fa-paw"></i></span>
          {% endif %}
        </a>
        <div class="card-body">
          <div class="card-title">
            <h5 class="card-text fw-bold">{{ product.brand }}</h5>
          </div>
          <div>
            <a href="{% url 'product_detail' product.id %}" class="card-link text-dark" aria-label="Go to product detail page">
              <p class="pb-4" >{{ product.name }}</p>
            </a>
            {% if product.available %}
              {% if product.sale_price %}
              <p class="position-absolute bottom-0 start-50 translate-middle-x">
                <span class="text-decoration-line-through text-muted me-2">&euro;{{ product.price }}</span>
                <span>&euro;{{ product.sale_price }}</span>
              </p>
              {% else %}
                <p class="position-absolute bottom-0 start-50 translate-middle-x">&euro;{{ product.price }}</p>
              {% endif %}
            {% else %}
              <p class="position-absolute bottom-0 start-50 translate-middle-x">Out of Stock</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <div class="text-center">
    <a href="{% url 'products' %}?q=Cruelty+Free" class="btn btn-lg btn-brand mt-3">Shop all Cruelty Free</a>
  </div>
</div>

<!-- Selling Points -->
<div class="container my-5">
  <div id="selling-points" class="row row-cols-1 row-cols-lg-3 text-center">
    <div class="col selling-point border-end mb-5 mb-lg-0">
      <i class="fa-solid fa-piggy-bank fa-2x p-2 mb-3"></i>
      <h4 class="fw-semibold">Free Shipping over &euro;60!</h4>
      <p>Get free nationwide shipping when you spend &euro;60 or more!</p>
    </div>
    <div class="col selling-point border-end mb-5 mb-lg-0">
      <i class="fa-solid fa-truck-fast fa-2x p-2 mb-3"></i>
      <h4 class="fw-semibold">Postage with An Post</h4>
      <p>We ship all our packages with An Post to give you quick, reliable shipping at great rates!</p>
    </div>
    <div class="col selling-point mb-5 mb-lg-0">
      <i class="fa-solid fa-earth-europe fa-2x p-2 mb-3"></i>
      <h4 class="fw-semibold">Eco Friendly Packaging</h4>
      <p>We made sure all our packing materials are recyclable to do our part for the planet!</p>
    </div>
  </div>
</div>

<!-- Featured Brands -->
<div class="container py-5 my-5">
  <div id="featured-brands" class="row row-cols-2 row-cols-lg-4 g-3">
    <div class="col">
      <a href="{% url 'products' %}?q=Aveda" class="d-flex justify-content-around align-items-center border border-2 rounded h-100">    
        <img src="{{MEDIA_URL}}aveda-logo.png" class="img-fluid p-3 p-md-5 zoom-hover" alt="aveda brand logo">
      </a>
    </div>
    <div class="col">
      <a href="{% url 'products' %}?q=Bumble+and+Bumble" class="d-flex justify-content-around align-items-center border border-2 rounded h-100">    
        <img src="{{MEDIA_URL}}bumble-bumble-logo.webp" class="img-fluid p-3 p-md-5 zoom-hover" alt="bumble and bumble brand logo">
      </a>
    </div>
    <div class="col">
      <a href="{% url 'products' %}?q=Color+Wow" class="d-flex justify-content-around align-items-center border border-2 rounded h-100">    
        <img src="{{MEDIA_URL}}color-wow-logo.webp" class="img-fluid p-3 p-md-5 zoom-hover" alt="color wow brand logo">
      </a>
    </div>
    <div class="col">
      <a href="{% url 'products' %}?q=Moroccanoil" class="d-flex justify-content-around align-items-center border border-2 rounded h-100">    
        <img src="{{MEDIA_URL}}moroccanoil-logo.png" class="img-fluid p-3 p-md-5 zoom-hover" alt="moroccanoil brand logo">
      </a>
    </div>
  </div>
</div>

{% endblock %}