{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Hero Image (Background image set in base.css) -->
<div id="hero-image-container" class="container-fluid row align-items-center text-center text-white">
  <div id="hero-text" class="col-8 mx-auto">
    <h1 class="display-4 mb-4">Welcome to The Salon's Online Shop!</h1>
    <h3>Bring that salon hair feeling back home!</h3>
    <hr class="my-4">
      <a class="btn btn-brand btn-lg text-dark" href="#" role="button" aria-label="Go to all products page">Shop All Products</a>
  </div>
</div>

{% endblock %}