<script type="text/javascript">

    // Change quantity value
    function changeQuantity(e, button) {
        e.preventDefault();

        let itemID = button.dataset.item_id;
        let quantityField = document.getElementById("quantity-field-" + itemID);
        let quantityValue = parseInt(quantityField.value);

        if(event.key == "Enter") {
            return
        } else if(button.classList.contains("decrement-btn") && quantityValue >= 2) {
            quantityValue--;
        } else if(button.classList.contains("increment-btn") && quantityValue < 99) {
            quantityValue++;    
        }

        checkDisableClass(quantityValue, itemID);

        quantityField.value = quantityValue;
    }

    // Change button class to indicate min/max quantities 
    function checkDisableClass(quantityValue, itemID) {

        let decrementBtnClassList = document.getElementById('decrement-btn-' + itemID).classList;
        let incrementBtnClassList = document.getElementById('increment-btn-' + itemID).classList;

        // Add/remove decrement button class
        if ( quantityValue <= 1 ) {
            decrementBtnClassList.add('btn-disabled');
        } else {
            decrementBtnClassList.remove('btn-disabled');
        }

        // Add/remove increment button class
        if (quantityValue >= 99) {
            incrementBtnClassList.add('btn-disabled');
        } else {
            incrementBtnClassList.remove('btn-disabled');
        }
    }

</script>