/* -------------------------------- Custom CSS Variables */

:root{
  --brand-pink: #F4A1B9;
  --brand-dark-pink: #f194ae;
  --brand-pink-rgb: 244, 161, 185;
}

/* -------------------------------- General Classes */

.bg-brand { background-color: var(--brand-pink);}
.text-brand { color: var(--brand-pink);}
.btn-brand { background-color: var(--brand-pink);}
.btn-brand:hover { background-color: var(--brand-dark-pink);}

.bg-green { background-color: #6fcc80; }
.text-green { color: #004e0e;}

.bg-blue { background-color: #88d4f5;}
.text-blue { color: #024a6b;}

.bg-yellow { background-color: #fff768;}
.text-yellow { color: #534401;}

.bg-red { background-color: #fc6868;}
.text-red { color: #5f0000;}

.zoom-hover { transition-duration: 200ms }
.zoom-hover:hover { scale: 1.25; }

.btn-disabled { opacity: 50%; }

.quantity-selector { width: 150px; }

/* -------------------------------- General Styling */

/* Remove input arrows on number inputs (Chrome, Safari, Edge) */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Remove input arrows on number inputs (Firefox) */
input[type=number] {
  -moz-appearance: textfield;
}

/* -------------------------------- Nav Styling */

.nav-link { border: 3px solid transparent; }
.nav-link:hover { border-bottom: 3px solid var(--brand-dark-pink); }

/* -------------------------------- Hero Image */

#hero-image-container {
  background: url('/media/hero-image.webp') no-repeat center center fixed;
  height: 70vh;
  background-size: cover;
  background-color: #333;
  background-blend-mode: overlay;
}

/* -------------------------------- Product Card */

.card {
  border-color: rgba(var(--brand-pink-rgb), .8);
}

.card-img-link {
  overflow: hidden;
}

.card-img-top {
  height: 17rem;
  object-fit: cover;
  transition: all .3s;
}

.card-img-top:hover {
  transform: scale(1.1);
}

.card-body {
  background-color: rgba(var(--brand-pink-rgb), .4);
}

.card-link {
  text-decoration: none;
}

.card-link:hover {
  text-decoration: underline 1px #333;
}

/* -------------------------------- Shopping Cart */

.cart-item-image {
  max-height: 120px;
}

/* -------------------------------- Spinner Overlay */

#loading-overlay{
  background-color: rgba(30, 30, 30, .5);
  height: 100vh;
  width: 100vw;
}

/* -------------------------------- Allauth form formatting */

.allauth-form-inner-content p {
  margin-top: 1.5rem;
  color: #6c757d;
}

.allauth-form-inner-content input {
  border-color: #333;
  border-radius: 4px;
}

.allauth-form-inner-content label:not([for='id_remember']) {
  display: none;
}

.allauth-form-inner-content input::placeholder {
  color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
  display: inline-block;
  font-weight: 400;
  color: #111;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--brand-pink);
  border: 1px solid var(--brand-pink);
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 4px;

  /* standard bootstrap btn transitions */
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
  color: #111;
  background-color: var(--brand-dark-pink);
  border: 1px solid var(--brand-dark-pink);
}

/* -------------------------------- Profiles*/

.order-history{ max-height: 450px; }

/* -------------------------------- Media Queries */

/* Larger container on xxl screens */
@media (min-width: 1400px) {
  
  .container {
    max-width: 1340px;
  }
}

/* Media Queries for screens smaller than 992px */
@media (max-width: 992px) {

  /* Reposition hero image */
  #hero-image-container {
    background-position: 40%;
  }

  /* Resize logo */
  .nav-logo img {
    height: 50px;
  }
}