{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Discover our range of beauty & skincare products, used by us in our professional salon. Bring that salon hair feeling back home!">
    <meta name="keywords" content="salon shop, hair care, skin care, beauty shop, the salon shannon clare, best hair care products, hair products ireland, professional beauty shop ">
    <link rel="icon" type="image/x-icon" href="{{ MEDIA_URL }}/favicon.ico">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss%}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/79459ea27b.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>The Salon {% block extra_title %}{% endblock %}</title>
  </head>
  <body>

    <!-- Search Modal ( Moved to body to fix issue with backdrop covering modal ) -->
    <div class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="searchModalLabel">Search our Products!</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form class="d-flex" role="search" method="GET" action="{% url 'products' %}">
              <input class="form-control me-2" type="search" name="q" placeholder="Enter search here..." aria-label="Search" required>
              <button class="btn btn-brand" type="submit">
                <span class="icon"><i class="fas fa-search"></i></span>
              </button>
            </form>      
          </div>
        </div>
      </div>
    </div>

    <!-- Navigation -->
    <header class="container-fluid">
      <!-- Announcement Bar -->
      <div id="announcement-bar" class="row text-center mb-3">
        <div class="col bg-brand text-dark">
          <h4 class="py-1">Free delivery on orders over &euro;{{ free_delivery_threshold }}!</h4>                
        </div>            
      </div>

      <!-- Nav Header (Search, Logo, Cart)-->
      <div id="nav-header" class="row container mx-auto mb-1 d-none d-lg-flex">
        <!-- Nav Search Modal Trigger -->
        <div class="col-4 my-auto">
          <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#searchModal">
            <span class="icon"><i class="fas fa-search zoom-hover"></i></span>
          </button>
        </div>

        <!-- Nav Logo -->
        <div class="col-4 my-auto text-lg-center">
          <a href="{% url 'home' %}" class="nav-logo">
            <img src="{{ MEDIA_URL }}/logo.webp" alt="the salon logo" height="70">
          </a>
        </div>

        <!-- Nav Cart -->
        <div class="col-4 my-auto text-center">
          <a class="text-dark" href="{% url 'view_cart' %}">
            <div class="float-end zoom-hover">
              <div><i class="fa-solid fa-cart-shopping"></i></div>
              <p class="my-0">
                {% if grand_total %}
                  &euro;{{ total|floatformat:2 }}
                {% else %}
                  &euro;0.00
                {% endif %}
              </p>
            </div>
          </a>
        </div>
      </div>

      <!-- Main Nav -->
      <nav id="main-nav" class="navbar navbar-expand-lg">
        <div class="container">
          <!-- Mobile Nav Toggle -->
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <!-- Mobile Nav Logo -->
          <div class="my-auto text-lg-center d-lg-none">
            <a href="{% url 'home' %}" class="nav-logo">
              <img src="{{ MEDIA_URL }}/logo.webp" alt="the salon logo" height="70">
            </a>
          </div>

          <!-- Mobile Nav Cart -->
          <div class="my-auto d-lg-none text-center">
            <a class="text-dark" href="{% url 'view_cart' %}">
              <div class="float-end">
                <div><i class="fa-solid fa-cart-shopping"></i></div>
                <p class="my-0">
                  {% if grand_total %}
                    &euro;{{ total|floatformat:2 }}
                  {% else %}
                    &euro;0.00
                  {% endif %}
                </p>
              </div>
            </a>
          </div>

          <!-- Nav Links -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mx-lg-auto mb-2 w-75 d-flex justify-content-around">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?category=skin_care">Skin Care</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?category=hair_care">Hair Care</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'products' %}?category=hair_accessories">Hair Accessories</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Account
                </a>
                <ul class="dropdown-menu">
                  {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <li><a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a></li>
                    <li><a class="dropdown-item" href="{% url 'add_product' %}">Product Management</a></li>
                    {% endif %}
                  <li><a class="dropdown-item" href="{% url 'profile' %}">My Profile</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>
                  {% else %}
                  <li><a class="dropdown-item" href="{% url 'account_login' %}">Login</a></li>
                  <li><a class="dropdown-item" href="{% url 'account_signup' %}">Sign Up</a></li>
                  {% endif %}
                </ul>
              </li>
              <li class="my-auto d-lg-none">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#searchModal">
                  <span class="icon"><i class="fas fa-search"></i></span>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    {% if messages %}
    <div class="message-container">
      {% for message in messages %}
        {% with message.level as level %}
          {% if level == 40 %}
            {% include 'includes/toasts/toast_danger.html' %}
          {% elif level == 30 %}
            {% include 'includes/toasts/toast_warning.html' %}
          {% elif level == 25 %}
            {% include 'includes/toasts/toast_success.html' %}
          {% else %}
            {% include 'includes/toasts/toast_info.html' %}
          {% endif %}
        {% endwith %}
      {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <!-- Footer -->
    <div class="row bg-brand bg-gradient py-4 text-center px-5 mt-5">

      <!-- Menu -->
      <div class="mb-5 mb-lg-0 col-12 col-lg-4">
        <h4>Menu</h4>
        <ul class="navbar-nav mb-2">
          <li class="nav-item my-2">
            <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item my-2">
            <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'products' %}?category=skin_care">Skin Care</a>
          </li>
          <li class="nav-item my-2">
            <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'products' %}?category=hair_care">Hair Care</a>
          </li>
          <li class="nav-item my-2">
            <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'products' %}?category=hair_accessories">Hair Accessories</a>
          </li>
          <li class="nav-item my-2">
            <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'privacy' %}">Privacy Policy</a>
          </li>
          <li class="nav-item my-2">
            <a class="link-dark link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{% url 'FAQ' %}">FAQ</a>
          </li>
          <li class="nav-item">
            <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#searchModal">
              <span class="icon"><i class="fas fa-search"></i></span>
            </button>
          </li>
        </ul>
      </div>

      <!-- Address -->
      <div class="mb-5 mb-lg-0 col-12 col-lg-4">
        <h4>Our Store</h4>
        <p class="my-3">Ballycasey Crescent, Ballycasey More</p>
        <p class="my-3">Shannon, Co. Clare</p>
        <p class="my-3"><span class="fw-semibold">Phone:</span> (061) 708 711</p>
        <p class="my-3"><span class="fw-semibold">Mon - Sun:</span> 9 a.m. - 5 p.m.</p>
      </div>

      <!-- Newsletter signup -->
      <div class="mb-5 mb-lg-0 col-12 col-lg-4">
        <h4>Newsletter</h4>
        <p class="my-3 lead">Join our email list for exclusive offers and the latest news.</p>
        <form>
          <input type="email" class="form-control mb-3" id="newsletterEmail" aria-describedby="emailHelp" placeholder="Email Address">
          <button type="submit" class="btn btn-dark">Subscribe!</button>
        </form>
      </div>
    </div>

    {% block postloadjs %}
      <script type="text/javascript">
        const toastLive = document.getElementById('liveToast')

        if (toastLive) {
          const toastBootstrap = bootstrap.Toast.getOrCreateInstance(toastLive)
            toastBootstrap.show()
        }

      </script>
    {% endblock %}

  </body>
</html>
