{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div id="product-list" class="col-12">
      <h2 class="col-10 offset-1 text-center my-3">All Products</h2>
      <hr>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
      {% for product in page_obj %}
        <div id="product-card" class="col my-3 text-center">
          <div class="card h-100 bg-light">
            {% if product.image %}
            <a href="#" class="card-img-link" aria-label="Go to product detail page">
              <img src="{{ product.image.url }}" class="card-img-top" alt="image for product thumbnail">
            </a>
            {% else %}
            <a href="#" class="card-img-link" aria-label="Go to product detail page">
              <img src="{{ MEDIA_URL }}/placeholder.webp" class="card-img-top" alt="image for product thumbnail">
            </a>
            {% endif %}
            <div class="card-body">
              <div class="card-title">
                <h5 class="card-text fw-bold">{{ product.brand }}</h5>
              </div>
              <div>
                <a href="#" class="card-link text-dark">
                  <p aria-label="Go to product detail page">{{ product.name }}</p>
                </a>
                <p>&euro;{{ product.price }}</p>
              </div>
            </div>
          </div>
        </div>
      <!-- If there are no results for products -->
      {% empty %}
        <div class="row">
          <h4 class="text-center my-3 py-3 rounded bg-light">No products here!</h4>
      {% endfor %}
      </div>
    </div>
  </div>

  <!-- Previous/Next page buttons if results has more than one page -->
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
    <li>
      <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-brand m-3" aria-label="Previous page of posts">&laquo; PREV </a>
    </li>
    {% endif %}
    {% if page_obj.has_next %}
    <li>
      <a href="?page={{ page_obj.next_page_number }}" class="btn btn-brand m-3" aria-label="Next page of posts"> NEXT &raquo;</a>
    </li>
    {% endif %}
  </ul>

</div>

{% endblock %}