{% extends "base.html" %}
{% load static %}

{% block content %}

{% load crispy_forms_tags %}

<div class="container">
  <div class="row d-flex justify-content-between my-3">
    <!-- Product image -->
    <div id="product-detail-image" class="col-12 col-md-6">
      {% if product.image %}
        <img class="img-fluid shadow rounded" src="{{ product.image.url }}" alt="{{ product.name }}">
      {% else %}
        <img class="img-fluid shadow rounded" src="{{ MEDIA_URL }}placeholder.webp" alt="{{ product.name }}">
      {% endif %}
    </div>
    
    <!-- Product details and add to cart form-->
    <div class="col-12 col-md-5 rounded pt-3">
      <h3 class="lead">{{ product.brand}}</h3>
      <h2 class="fw-bold">{{ product.name }}</h2>
      <p class="lead mb-3">&euro;{{ product.price }}</p>
      <hr>
      
      <!-- Add to cart form -->
      <form class="form" action="{% url 'add_to_cart' product.id %}" method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group">
            <p class="mt-3 lead">Quantity:</p>
            <div class="input-group quantity-selector">
              <button id="decrement-btn" class="input-group-text btn-disabled" onclick="changeQuantity(event, this)">
                <i class="fa-solid fa-minus"></i>
              </button>
              <input id="quantity-field" class="form-control text-center" type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}" id="id_qty_{{ product.id }}">
              <button id="increment-btn" class="input-group-text"  onclick="changeQuantity(event, this)">
                <i class="fa-solid fa-plus"></i>
              </button>
            </div>
          </div>
        </div>
        <div class="col-12">
            <input type="submit" class="btn btn-brand rounded text-uppercase w-100 my-3" value="Add to Cart">
        </div>
        <input type="hidden" name="redirect_url" value="{{ request.path }}">
      </form>
      <hr>

      <h4>Product Description</h4>
      <p>{{ product.description }}</p>
    </div>
  </div>

  <!-- Review Section -->

  <!-- Reviews -->
  <div class="row">
    <div class="col-md-10 mx-auto mt-5">
      <!-- Main Reviews section -->
      <h3>Product Reviews</h3>
      <hr>
      <div id="reviews">
        {% for review in reviews %}
        <div class="review bg-light rounded p-3">
          <p class="d-inline fw-bold card-author">{{ review.author }}</p>
          <p class="d-inline fw-light"> wrote:</p>
          <p >{{ review.body | linebreaks }}</p>
        </div>
        <hr>
        <!-- Show message if there are no reviews yet -->
        {% empty %}
        <div class="review bg-light rounded p-3 mb-3">
            <h4 class="text-center my-3 py-2 rounded bg-light">No reviews yet!</h4>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Review Form -->
  {% if user.is_authenticated %}
  <div class="row">
    <div class="col-md-10 mx-auto my-3">
      <h3>Leave a review:</h3>
      <form method="post">
          {{ review_form | crispy }}
          {% csrf_token %}
        <button type="submit" class="btn btn-brand mt-2 float-end" aria-label="Submit">Submit</button>
      </form>
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_buttons_script.html' %}
{% endblock %}