{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div id="product-list" class="col-12">

      <!-- Change product list title depending on request type -->
      <!-- Search -->
      {% if request_type == "search" %}
      <h2 class="col-10 offset-1 text-center mt-3">Search Results for "{{ request.GET.q }}"</h2>
      <!-- Categories -->
      {% elif request_type == "category" %}
        <div class="col-10 offset-1 text-center mt-3">
        {% for c in current_category %}
        <h2 class="d-inline px-2">{{ c.friendly_name }}</h2>
        {% endfor %}
        </div>
      <!-- All Products -->
      {% else %}  
      <h2 class="col-10 offset-1 text-center my-3">All Products</h2>
      {% endif %}      
      <hr>

      <div class="row">
        <div class="col-12 col-md-6 mt-1 text-center text-md-start">
          <p class="text-muted">
            {{ page_obj.paginator.count }} Products
          </p>
        </div>
        <div class="col-12 col-md-6 my-auto mx-auto d-flex justify-content-center justify-content-md-end">
          <select id="sort-selector" class="border p-1 rounded" onchange="changeSorting()">
            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
            <option value="brand_asc" {% if current_sorting == 'brand_asc' %}selected{% endif %}>Brand (A-Z)</option>
            <option value="brand_desc" {% if current_sorting == 'brand_desc' %}selected{% endif %}>Brand (Z-A)</option>
          </select>
        </div>
      </div>

      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
      {% for product in page_obj %}
        <div id="product-card" class="col my-3 text-center">
          <div class="card h-100">
            <a href="{% url 'product_detail' product.id %}" class="card-img-link" aria-label="Go to product detail page">
              {% if product.image %}
                <img src="{{ product.image.url }}" class="card-img-top" alt="image for product thumbnail">
              {% else %}
                <img src="{{ MEDIA_URL }}/placeholder.webp" class="card-img-top" alt="image for product thumbnail">
              {% endif %}
              {% if product.available %}
                {% if product.sale_price %}
                  <span class="badge rounded-pill bg-brand bg-gradient position-absolute text-dark start-0 top-0 m-2 p-2">Sale!</span>
                {% endif %}
              {% else %}
                <span class="badge rounded-pill bg-info bg-gradient position-absolute text-dark start-0 top-0 m-2 p-2">Out of Stock</span>
              {% endif %}
              {% if product.cruelty_free %}
              <span class="badge rounded-pill bg-secondary bg-gradient position-absolute end-0 top-0 m-2 p-2"><i class="fa-solid fa-paw"></i></span>
              {% endif %}
            </a>
            <div class="card-body">
              <div class="card-title">
                <h5 class="card-text fw-bold">{{ product.brand }}</h5>
              </div>
              <div>
                <a href="{% url 'product_detail' product.id %}" class="card-link text-dark">
                  <p class="pb-4" aria-label="Go to product detail page">{{ product.name }}</p>
                </a>
                {% if product.available %}
                  {% if product.sale_price %}
                  <p class="position-absolute bottom-0 start-50 translate-middle-x">
                    <span class="text-decoration-line-through text-muted me-2">&euro;{{ product.price }}</span>
                    <span>&euro;{{ product.sale_price }}</span>
                  </p>
                  {% else %}
                    <p class="position-absolute bottom-0 start-50 translate-middle-x">&euro;{{ product.price }}</p>
                  {% endif %}
                {% else %}
                  <p class="position-absolute bottom-0 start-50 translate-middle-x">Out of Stock</p>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      <!-- If there are no results for products -->
      {% empty %}
        <div class="col w-100">
          <h4 class="text-center my-3 py-3 rounded bg-light">No products found!</h4>
      {% endfor %}
      </div>
    </div>
  </div>

  <!-- Pagination buttons -->
  <!-- Buttons change depending on product list type to keep pagination working correctly. -->
  <ul class="pagination justify-content-center">

    <!-- Buttons for search results -->
    {% if request_type == "search" %}
      {% if page_obj.has_previous %}
      <li><a href="?q={{ request.GET.q }}&page={{ page_obj.previous_page_number }}{% if current_sorting != 'None_None'%}&sort={{ request.GET.sort }}&&direction={{ request.GET.direction }}{% endif %}" class="btn btn-brand m-3" aria-label="Previous page of products">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}{% if current_sorting != 'None_None'%}&sort={{ request.GET.sort }}&&direction={{ request.GET.direction }}{% endif %}" class="btn btn-brand m-3" aria-label="Next page of products"> NEXT &raquo;</a></li>
      {% endif %}

    <!-- Buttons for category results -->
    {% elif request_type == "category" %}
      {% if page_obj.has_previous %}
      <li><a href="?category={% for c in current_category%}{{c.name}},{% endfor %}&page={{ page_obj.previous_page_number }}{% if current_sorting != 'None_None'%}&sort={{ request.GET.sort }}&&direction={{ request.GET.direction }}{% endif %}" class="btn btn-brand m-3" aria-label="Previous page of products">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?category={% for c in current_category%}{{c.name}},{% endfor %}&page={{ page_obj.next_page_number }}{% if current_sorting != 'None_None'%}&sort={{ request.GET.sort }}&&direction={{ request.GET.direction }}{% endif %}" class="btn btn-brand m-3" aria-label="Next page of products"> NEXT &raquo;</a></li>
      {% endif %}

    <!-- Buttons for All Products list -->
    {% else %}
      {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}{% if current_sorting != 'None_None'%}&sort={{ request.GET.sort }}&&direction={{ request.GET.direction }}{% endif %}" class="btn btn-brand m-3" aria-label="Previous page of products">&laquo; PREV </a></li>
      {% endif %}
      {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}{% if current_sorting != 'None_None'%}&sort={{ request.GET.sort }}&&direction={{ request.GET.direction }}{% endif %}" class="btn btn-brand m-3" aria-label="Next page of products"> NEXT &raquo;</a></li>
      {% endif %}
    {% endif %}
  </ul>

</div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}

    <script type="text/javascript">

      function changeSorting() {
        let selector = document.getElementById('sort-selector');
        let currentUrl = new URL(window.location);

        console.log(currentUrl);
        console.log(selector.value);

        let selectedValue = selector.value;
        if(selectedValue != "reset"){

          let sort = selectedValue.split("_")[0];
          let direction = selectedValue.split("_")[1];

          currentUrl.searchParams.set("sort", sort);
          currentUrl.searchParams.set("direction", direction);
          currentUrl.searchParams.set("page", 1);

          window.location.replace(currentUrl);
        } else {
          currentUrl.searchParams.delete("sort");
          currentUrl.searchParams.delete("direction");
          currentUrl.searchParams.delete("page");

          window.location.replace(currentUrl);
        }
      }
    </script>
{% endblock %}